<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center; font-family:'Roboto', sans-serif;font-weight:bolder;font-size:xx-large">Room</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showShare()"><ion-icon name="share-social-outline"></ion-icon></ion-button>

      <ion-button (click)="backToHome()"><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="font-family:'Roboto', sans-serif !important;">
  <ion-fab *ngIf="isMobile" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="chatOpen()">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab *ngIf="isMobile" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="uploadFiles()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size-l=4 size-md=4 size-s=12 size-xs=12>
        
        <ion-card>
          <ion-card-header>
            <ion-card-title style="text-align: center;font-family:'Roboto', sans-serif">Users Connected in Room</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list style="border: solid darkblue 2px;font-family:'Roboto', sans-serif;">
              <ion-item>
                <ion-icon name="person" style="margin-right:4%;color:darkblue"></ion-icon>
                <ion-label>Me</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="person" style="margin-right:4%;"></ion-icon>
                <ion-label>User 2</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="person" style="margin-right:4%;"></ion-icon>
                <ion-label>User 3</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="person" style="margin-right:4%;"></ion-icon>
                <ion-label>User 4</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="person" style="margin-right:4%;"></ion-icon>
                <ion-label>User 5</ion-label>
              </ion-item>
            </ion-list>
            
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="isChat">
          <ion-card-header>
            <ion-card-title style="text-align: center;font-family:'Roboto', sans-serif;">Chat With Others</ion-card-title>
          </ion-card-header>
         
          <ion-card-content>
            <ion-list style="border: solid darkblue 2px;">
              <ion-input disabled inputmode="text" value="User 2: Hi!"></ion-input>
              <ion-input disabled inputmode="text" value="User 3: How u doing?"></ion-input>
            </ion-list>
            <ion-item>
              <ion-input inputmode="text" placeholder="Enter your message..."></ion-input>
              <ion-button (click)="sendMessage()"><ion-icon name="send"></ion-icon></ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label style="font-family:'Roboto', sans-serif;"><ion-icon size="medium" name="cloud" style="padding-right:5%;color:steelblue;"></ion-icon>Storage (7.2 GB out of 15 GB)</ion-label>

            </ion-item>
            <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>

          </ion-card-content>
        </ion-card>
        
      </ion-col>
      <ion-col size-l=4 size-md=4 size-s=12 size-xs=12>
        <div *ngIf="!isMobile">

          <app-multi-file-upload (change)="upload()"></app-multi-file-upload>
        </div>
        <div scrollY="true" id="scroll-list" style="margin-top: 4%;border:2px;font-family:'Roboto', sans-serif;">
          <ion-grid>
            <ion-row>
              <ion-col size-l=4 size-md=4 size-s=12 size-xs=12 *ngFor="let item of items">
                <ion-item>
                  <ion-icon size="xx-large" name="{{item.icon}}" style="margin-right: 5%;"></ion-icon>
                  <ion-label style="font-family: 'Roboto', sans-serif;font-size:x-large">{{item.name}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>



      </ion-col>
      <ion-col size-l=4 size-md=4 size-s=12 size-xs=12 *ngIf="isShare">
        <p style="text-align:center;font-family:'Roboto', sans-serif;">Share or Add Users to the Room</p>
        <ion-card>
          <ion-card-header>
            <ion-card-title style="text-align: center;color:brown;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">ROOM CODE</ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;font-size:larger;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color:darkblue">ABCDEF</ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title style="text-align: center;font-family:'Roboto', sans-serif;">Scan below QR to invite someone to your room</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size=3></ion-col>
                <ion-col size=6>
                  <ion-img src="../../assets/LNaG7A.png"></ion-img>

                </ion-col>
                <ion-col size=3></ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>
        <ion-button expand="block" (click)="JustTheWayYouAre()" style="text-transform: capitalize;font-family:'Roboto', sans-serif;"><ion-icon name="link-outline" style="padding-right:5%;"></ion-icon>Get Link</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
